*{
    margin: 0;
    padding: 0;
}

html, body {
    background: #e5e5e5;    
}

.chat-box{
    width: 500px;
    min-width: 390px;
    height: 590px;
    background: #ffffff;
    margin: 20px auto;
    box-shadow: 0 3px #ccc;
}

.chat-logs{
    padding: 10px;
    width: 100%;
    height: 420px;
    padding-left: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.chat-logs::-webkit-scrollbar{
    width: 7px;
}

.chat-logs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}

.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.chat .chat-message{
    width: 70%;
    padding: 15px;
    margin: 5px 10px 0;
    background: #00AEFF;
    border-radius: 10px;
    color: #ffffff;
    font-size:14px;
}

.friend .chat-message{
    background: #00AEFF;
    float: left;
    margin-left: 100px;
    box-shadow: 1px 1px 1px 1px #00AEFF;
}

.self .chat-message{
    background: #ffffff;
    float: right;
    box-shadow: 1px 1px 1px 1px #ccc;
    color: #333;
    order: -1;
}

.chat-form{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    position: relative;
    bottom: 50px;
}

.chat-form textarea{
    background: #fff;
    width: 75%;
    height: 40px;
    border: 2px solid #eee;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 3px;
    resize: none;
    padding: 8px 10px 0 10px;
    color:#333;
}

.chat-form textarea:focus{
    background: #ffffff;
}

.chat-form .user-photo{
    width: 30px;
    height: 30px;
    margin-top: 55px;
    margin-left: 15px;
    background: #084482;
    border-radius: 50%;
    overflow: hidden;
}

.chat-form .user-photo img{
    width: 100%;
}

.dismiss{
    width: 20px;
    height: 20px;
    font-weight: bolder;
    font-size: 16px;
    color: #fff;
    margin-left: 450px;
    background-color: #084482;
    border-radius: 50%;
    border: transparent;
    position: relative;
    top: 20px;
}

.p-text p, .p-text h4{
    padding: 0;
    margin: 0;
}
.p-text{
    font-size: 12px;
    font-weight: bold;
    margin-left: 250px;
    padding: 0;    
}

.green {
    color:#084482;
}

.p-online{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: 55px;
    margin-left: 15px;
    background-color: green;
    border-radius: 50%;
}

