
:root {
    --primary-color: #00aeff;
    --primary-dark: #084482;
}

/* CHAT SideBar */

.chat-sb {
    max-width: 300px;
    /* height: 1000px; */
}

.cs-chat {
    margin-top: 20px;
}

/* when an agent is available to chat */
.ao-chat-available {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.ao-profile-picture {
    width: 80px;
    margin-top: 25px;
}

.ao-chat-available .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.chat-sb .ao-name {

font-family: Lato;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;

color: #4F4F4F;
}

.chat-sb .ao-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 11px;
    
    color: #4F4F4F;
}

.chat-sb .online {
    display: flex;
    width: 48px;
    height: 14px;
    flex-direction: row;
    justify-content: space-around;
   
}

.chat-sb .online .icon {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #219653;
    align-self: center;
}

.chat-sb .online p {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 11px;
    
    color: #4F4F4F;
}

.ao-chat-available .intro-chat {
    background-color: #00AEFF;
    color: #fff;
    width: 168px;
    padding: 11px 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    margin: 30px 0 15px 0;
    align-self: flex-start;
}

.ao-chat-available .intro-chat p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 11px;    
    color: #FFFFFF;
}

.ao-chat-available .start-chat {
    align-self: flex-end;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 38px;
    border-radius: 10px;   
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 13px;
    
    color: #4F4F4F;

    text-decoration: none;

    margin: 10px 0;
}

.ao-chat-available .start-chat:hover {
    background-color: #00AEFF;
    color: #FFF;
}

.start-chat .ao-name {
    font-size: 13px;
    margin-left: 3px;
}

.start-chat:hover .ao-name {
    color: #FFF;
}

.ao-chat-start {
    display: none;
}

.ao-chat-start .ao-profile-picture {
    width: 70px;
    margin: 0;
}

.ao-chat-start .ao-details {
     display: flex;
    justify-content: flex-start;
}

.ao-chat-start .dismiss-btn{
    width: 20px;
    height: 20px;
    font-weight: bolder;
    font-size: 16px;
    color: #fff;
    background-color: #084482;
    border-radius: 50%;
    border: transparent;
    float: right;
}

/* chat box */

/* .chat-sb  */
.chat-box{
    min-width: 250px;
    background: #ffffff;
    box-shadow: 0 3px #ccc;
    position: relative;
}

.chat-messages {
    padding: 10px;
    max-height: 400px;
    overflow : auto;
}

.chat-messages::-webkit-scrollbar{
    width: 5px;
}

.chat-messages::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}


.chat{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 7px 0;
    padding: 0;
}

.chat-message{
    max-width: 158px;
    min-width: 50px;
    padding: 5px 12px;
    border-radius: 7px;
    color: #ffffff;
    font-family: Lato;
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
}

.chat-messages .user .chat-message {
    background: #ffffff;
    color: #333;
    box-shadow: 1px 1px 1px 1px #ccc;
    /* margin-left: 100px; */
    
}

.chat-messages .user  {
    float: right;
    clear: both;
}

.chat-messages .agent .chat-message {
    background: #00AEFF;
    box-shadow: 1px 1px 1px 1px #00AEFF;
}

.chat-messages .agent {
    float: left;
    clear: both;
}

.message-input-area {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #E0E0E0;
    align-items: center;
    height: 40px;
}

.message-input {
    color: #828282;
    width: 85%;
    border: none;
    background: transparent;
    height: 100%;
    padding: 0 10px;
}

.message-input:focus {
    border: none;
    box-shadow: none;
    outline: none;
    outline-offset: 0;
}

.submit-button {
    margin-left: 10px;
    color: #828282;
    cursor: pointer;
    outline: none !important;
}

.submit-button:hover {
    color: #00AEFF;
}
